[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "static/deeprl"]
	path = static/deeprl
	url = /home/vitay/Research/DeepRL/manual/.git
