html {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem;
}

a {
    color: #0366d6;
}

a:hover,
a:focus {
  color: #0366d6;
}

.navbar-default {
    background: #ffffff;
    color: #333;
}
.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  color: #333;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>a:focus,
.navbar-default .navbar-nav>a:hover {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #000;
  font-weight: 400;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #000;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #0366d6;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #0366d6;
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

.article-container {
  min-width: 320px;
  max-width: 1020px;
}


/*************************************************
 *  Button Outlines
 **************************************************/

.btn-outline {
  background-color: transparent !important;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #0366d6 !important;
  border-color: #0366d6 !important;
}

.btn-primary.btn-outline:focus {
  color: #0366d6 !important;
}

.btn-primary.btn-outline:active {
  color: #fff !important;
}

.btn-light.btn-outline {
  color: #fff !important;
  border-color: #fff !important;
}

.btn-light.btn-outline:focus {
  color: #fff !important;
}

.btn-light.btn-outline:active {
  color: transparent !important;
}

.btn-success.btn-outline {
  color: #0366d6;
}

.btn-info.btn-outline {
  color: #0366d6;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-light.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff !important;
}
